/*
 * Created on : 2017-02-11, 23:03:17
 * Author     : jAANUSZEK0700
 */

body {
    margin: 0;
    overflow: hidden;
    background-color: #6f85ff;
}

img {
    position: absolute;
}

#move_left {
    z-index: 100000;
}

#move_right {
    z-index: 100000;
}